.github
.vscode
target
Cargo.lock
node_modules

circuit_setup/scripts/__pycache__
circuit_setup/inputs/*
!circuit_setup/inputs/**/*.json
circuit_setup/generated_files/*
circuit_setup/circuits-mdl/circomlib
circuit_setup/circuits/circomlib

creds/test-vectors/*
creds/pkg

sample/client/dist
sample/client/mdl.json
sample/client_helper/data
sample/issuer/data
sample/issuer/keys
sample/issuer/.well-known
sample/verifier/data