<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta crescent_verify_url="{{ crescent_verify_url  | safe }}">
    <meta crescent_disclosure_uid="{{ crescent_disclosure_uid  | safe }}">
    <title>Login - {{ verifier_name }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>{{ verifier_name }} Login</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <p>Present an employment credential disclosing the email domain. Nothing else will be learned by our service or its issuer.</p>
</body>
</html>
